*,
*:after,
*:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Kurale', serif;
    color:#434f61;
    font-size: 17px;
}
body.lock{
    overflow: hidden;
}
header
{
    max-width: 1210px;
    margin:0 auto;
}
header .main_information img{
    width: 140px;
}
header .main_information{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .info_item{
    padding: 0 15px;
}
header ul{
    list-style-type: none;
    padding: 0;

}
header ul a{
    text-decoration: none;
    color:#434f61;
}
.parent_categories{
    display: flex;
    position: relative;
}
.subcategory_menu_description{
    display: flex;
    visibility: hidden;
    opacity: 0;
}
.subcategory_menu_description{
    justify-content: flex-start;
    width: 100%;
    position:absolute;
    top:29px;
    left:0;
}
.menu_effects{
    position: relative;
    padding: 5px 15px;
    cursor: pointer;
}
.main_category:hover
{
    background: rgba(7, 170, 25, .2);
    transition: .2s;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.main_category:after{
    display: block;
    content: "";
    background-color: #07aa19;
    height: 4px;
    width: 0%;
    left: 50%;
    position: absolute;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}
.main_category:hover:after,
.main_category:focus:after{
    width: 100%;

}
.main_category:hover .subcategory_menu_description{
    background: #fff;
    transition: .1s;
    opacity: 1;
    visibility: visible;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}
.dropdown li{
    display: flex;
    position: relative;
}
.dropdown i{
    position: absolute;
    right: -3px;
    top:43%;
    font-size: 12px;
    transition: .3s;
    z-index: 9999;
}
.dropdown li a
{
    z-index: 9999;
    padding: 15px;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;
    opacity: .8;
    transition: .3s;
}
.dropdown li:hover a
{
    opacity: 1;
}
.dropdown li:after {
    z-index: 999;
    position: absolute;
    top: 2px;
    left: 10px;
    content: '';
    width: 100%;
    height: 94%;
    background: transparent;
    transition: .3s;
}
.dropdown li:hover .fa-chevron-right{
    right: -15px;

}
.dropdown li:hover:after{
    transition: .3s;
    background: #f3f4f6;
    border-top: 1px solid rgba(0, 0, 0, .2);
    border-left: 1px solid rgba(0, 0, 0, .2);
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}
.description{
    font-size: 15px;
    top: 100%;
    position: relative!important;
    cursor: default;
    z-index: 1;
    width: 27%;
    padding-left: 10px;
    margin: 2px 0px 1.3px 9.2px;
}
.description *{
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
.menu_hover_style{
    background: #f3f4f6;
    border: 1px solid rgba(0, 0, 0, .2);
}
.hover_visible{
    opacity: 1!important;
    transition: .5s;
}
.most-popular-products{
    width: 41%;
}

.standard_card_desc,
.standard_card_border_radius_desc,
.euro_card_desc,
.square_card_desc,
.double_vertical_card_desc,
.double_horizontal_card_desc{
    position: absolute;
    top:0;
    left: 10px;
    padding: 5px;
    opacity: 0;
    z-index: 2;
}
.most-popular-products h3{
    text-align: center;
    padding: 5px;
    background: rgba(7, 170, 25, .2);
    margin: 2px 0 2px 2px;
}
.items-most-popular{
    display: flex;
    justify-content: space-between;
    position: relative;
    font-size: 15px;
}
.item-most-popular img
{
    width: 100%;
    padding: 10px 20px 0 10px;
}
.item-most-popular h4,
.item-most-popular p{
    padding: 0px 20px;
    margin: 10px 0;
}
.item-most-popular h4{
    margin: 0 0 5px;
}
.item-most-popular a{

}

.order-menu a{
    position: relative;
    padding: 10px 5px 10px 20px;
    display: block;
    color: #434f61!important;
    opacity: .8;
}
.order-menu i{
    transition: .5s;
    position: absolute;
    right: 70px;
    top: 17px;
    font-size: 11px;
}
.order-menu a:hover{
    opacity: 1;
}
.order-menu:hover i{
    right: 60px;
}

@media screen and (max-width: 922px) {
    .parent_categories{
        display: none;
    }
}
@media screen and (min-width: 922px) {
    .burger-menu{
        display: none;
    }

}
.burger-menu{
    top: 0;
    right: 0;
    position: fixed;
    width: 100%;
    height: 100%;
}

.burger-menu:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}
.burger{
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    margin-left: auto;
    margin-right: 10px;
}

.burger:after,
.burger:before{
    content: '';
    position: absolute;
    background: #000;
    width: 100%;
    height: 3px;
}
.burger:after{
    bottom:0
}
.burger:before{
    top:7px
}
.burger span{
    position: absolute;
    left:0;
    background: #000;
    width: 100%;
    height: 3px;
    top:17px;
}
.main-mobile-category{
    position: relative;
}
.main-mobile-category a{
    position: relative;
    display: block;
    padding: 10px;
    color: #000;
}
.main-mobile-category:before,
.main-mobile-category:last-child:after{
    position: absolute;
    bottom: 0;
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    border-top:1px dashed #434f61;
}
.main-mobile-category i {
    position: absolute;
    right: 10px;
    top: 1px;
    z-index: 0;
    border-radius: 50%;
    padding: 13px 14px;
    background: #b1efaf;
    margin-left: auto;
    transition: .5s;
}
.mobile-dropdown li{
    padding-left: 30px;
    background: #e1ffe0;
}
.mobile-dropdown{
    display: none;
}
.mobile-dropdown-active{
    display: block;
}
#overlay {
    display: none;
    background-color: rgba(255,255,255,0.8);
    position:fixed;
    top: 0;
    right: 0;
    width:100%;
    height:100%;
}
.burger span,
.burger:before,
.burger:after
{
    transition: all .6s;
}
.burger.mobileMenuActive:before{
    transform: rotate(45deg);
    top:18px;
}
.burger.mobileMenuActive:after{
    transform: rotate(-45deg);
    bottom: 9px;
}
.burger.mobileMenuActive span{
    transform: scale(0);
}
.menuColor{
    transition: 1s;
    background: #fff!important;
}
.mobile-menu{
    position: relative;
    right: -100%;
    height: calc(100% - 37px);
    overflow: auto;
    transition: .5s;

}
.mobile-menu ul{
    overflow: auto;
    position: relative;
}
.mobileMenuActive.mobile-menu{
    transition: .5s;
    right: 0;
}

.testMobile{
    width: 100%;
    height: 37px;
    background: #fff;
}
.menu_i_active{
    transform: rotate(180deg);
    z-index: 9999999;
}




